<footer>
    <section class="content-links">
        
        <div class="link">
            <div class="">
                <h2>Mi sitio</h2>
    
                <a href=""><h4>Mi Perfil</h4></a>
                <a href=""><h4>Mis preferencias de notificaciones</h4></a>
                <a href=""><h4>Mis preferencias de cuenta</h4></a>
                <a href=""><h4>Cerrar Sesion</h4></a>
            </div>
        
            <div class="">
                <h2>Link del sitio</h2>
    
                <a href=""><h4>Home</h4></a>
                <a href=""><h4>Privacidad y seguridad</h4></a>
                <a href=""><h4>Privacidad y seguridad</h4></a>
                <a href=""><h4>Ayuda</h4></a>
                <a href=""><h4>Desarrolladores</h4></a>
                <a href=""><h4>Publicidad</h4></a>
                <a href=""><h4>Condiciones</h4></a>
            </div>
        
            <div class="">
                <h2>Ayuda y Soporte</h2>
    
                <a href=""><h4>Preguntas fercuentes</h4></a>
                <a href=""><h4>Formas de uso</h4></a>
                <a href=""><h4>Enviar comentarios</h4></a>
                <a href=""><h4>Mapa del sitio completo</h4></a>
                <a href=""><h4>Informacion del copyright</h4></a>
            </div>
        </div>
    
        <div class="description">
            <div>
                <img src="assets/Logo3.svg" alt="Logo de pagina">
            </div>
    
            <p>¡Olvídate del aburrimiento con Games Toons! La mayor selección de juegos gratis está aquí,
                para que lleves la diversión al siguiente nivel. Juega online y sin preocupaciones: puedes 
                jugar a todos nuestros juegos sin descargar. ¡Pero cuidado! Nuestros juegos de accion solo
                son aptos para los más atrevidos; competirás con grandes pilotos en nuestros juegos de carreras;
                podrás poner a prueba al estratega que llevas dentro en todos nuestros juegos de estrategia
                ¡Todos los juegos gratis y sin descargar!
            </p>
    
            <h5>Compartir en...</h5>
            <div class="networks">
                <img src="assets/icons/facebook.svg" alt="facebook">
                <img src="assets/icons/instagram.svg" alt="instagram">
                <img src="assets/icons/twitter.svg" alt="twitter">
            </div>
    
        </div>
    
        <button>Boton llevar hasta arriba</button>
    </section>

    <section class="copyright">
        <p>© 2025 derechos reservados Games Toons!</p>
    </section>

</footer>