<footer>
    <section class="content-links">
        <nav>
            <ul class="footerNav">
                <h2>Mi sitio</h2>
                <li class="sacaLosPuntitos"><a href="home.html">Mi Perfil</a></li>
                <li class="sacaLosPuntitos"><a href="home.html">Mis preferencias de notificaciones</a></li>
                <li class="sacaLosPuntitos"><a href="home.html">Mis preferencias de cuenta</a></li>
                <li class="sacaLosPuntitos"><a href="home.html">Cerrar Sesión</a></li>
            </ul>
        </nav>

        <nav>
            <ul class="footerNav">
                <h2>Link del sitio</h2>
                <li><a href="home.html">Inicio</a></li>
                <li><a href="home.html">Privacidad y seguridad</a></li>
                <li><a href="home.html">Privacidad y seguridad</a></li>
                <li><a href="home.html">Ayuda</a></li>
                <li><a href="home.html">Desarrolladores</a></li>
                <li><a href="home.html">Publicidad</a></li>
                <li><a href="home.html">Condiciones</a></li>
            </ul>
        </nav>

        <nav >
            <ul class="footerNav">
                <h2>Ayuda y Soporte</h2>
                <li><a href="home.html">Preguntas frecuentes</a></li>
                <li><a href="home.html">Formas de uso</a></li>
                <li><a href="home.html">Enviar comentarios</a></li>
                <li><a href="home.html">Mapa del sitio completo</a></li>
                <li><a href="home.html">Información del copyright</a></li>
            </ul>
        </nav>

        <div class="description">
            <div>
                <img src="assets/Logo3.svg" alt="Logo de pagina">
            </div>

            <p>¡Olvídate del aburrimiento con Games Toons! La mayor selección de juegos gratis está aquí,
                para que lleves la diversión al siguiente nivel. Juega online y sin preocupaciones: puedes
                jugar a todos nuestros juegos sin descargar. ¡Pero cuidado! Nuestros juegos de accion solo
                son aptos para los más atrevidos; competirás con grandes pilotos en nuestros juegos de carreras;
                podrás poner a prueba al estratega que llevas dentro en todos nuestros juegos de estrategia
                ¡Todos los juegos gratis y sin descargar!
            </p>

            <h5>Comparte en</h5>
            <div class="networks">
                <a href="home.html"><img src="assets/icons/facebook.svg" alt="facebook"></a>
                <a href="home.html"><img src="assets/icons/instagram.svg" alt="instagram"></a>
                <a href="home.html"><img src="assets/icons/twitter.svg" alt="twitter"></a>
            </div>
        </div>
        <button class="backTopButton">
            <div id="toTop"><img src="assets/icons/backTop.svg" alt="Ir hacia arriba"></div>
        </button>
    </section>

    <section class="copyright">
        <p>© 2025 derechos reservados Games Toons</p>
    </section>

</footer>