<header>
    <div class="logo-menu">
        <img id="menuToggle" src="assets/icons/menuHamburguesa.svg" alt="Menu Hamburguesa">
        <a href="index.html"><img class="logo" src="assets/Logo2.svg" alt="Logo"></a>
    </div>

    <form action="/search" method="get" class="doubleCenterFlex searchInputContainer">
        <input class="searchInput" type="text" id="searchInput" name="search" placeholder="Buscar Juego"
            autocomplete="off">
        <div>
            <img class="sesss" src="assets/icons/lupa.svg" alt="buscar">
        </div>
    </form>

    <div>
        <button>

            <div class="languageImg"><img src="assets/icons/lenguageMenu.svg" alt="Seleccionar idioma"></div>
        </button>
    </div>

    <aside class="menu" id="sideMenu">
        <div class="user">
            <div class="card-user">
                    <img class="user-logo" src="/assets/icons/user.svg" alt="usuario">
        
                <div class="info-user">
                    <h3>Nombre de Usuario</h3>
                    <h3>Correro Electronico</h3>
                </div>
        
            </div>
            <div class="config-menu">
                <ul >
                    <li>
                        <img src="/assets/icons/config privacidad.svg" alt="configurar privacidad">
                        <a href="">Prefencia de Privacidad</a>
                    </li>
                    <li>
                        <img src="/assets/icons/Correo Electronico.svg" alt="configurar">
                        <a href="">Prefencia de Notificaciones</a>
                    </li>
                    <li>
                        <img src="/assets/icons/Group.svg" alt="configurar cuenta">
                        <a href="">Configuracion de Cuenta</a>
                    </li>
                    <li>
                        <img src="/assets/icons/cerrar sesion.svg" alt="cerrar sesion">
                        <a href="">Cerrar Sesion</a>
                    </li>
                </ul>
            
                <div class="user-vip">
                    <p>Hacerme Usuario</p>
                    <img src="/assets/icons/vip.svg" alt="vip">
                </div>
                <div class="networks-menu">
                    <ul>
                        <li><img src="/assets/icons/facebook.svg" alt="facebook"></li>
                        <li><img src="/assets/icons/twitter.svg" alt="twitter"></li>
                        <li><img src="/assets/icons/instagram.svg" alt="instagram"></li>
                    </ul>
                </div>
    
            </div>
    
        </div>
    
        <div class="category">
            <ul>
                <li class="tittle-category">
                    <img src="" alt="">
                    <a href="">Accion</a>
                </li>
                <li class="tittle-category">
                    <img src="" alt="">
                    <a href="">RPG</a>
                </li>
                <li class="tittle-category">
                    <img src="" alt="">
                    <a href="">Shooter</a>
                </li>
                <li class="tittle-category">
                    <img src="" alt="">
                    <a href="">Puzzle</a>
                </li>
                <li class="tittle-category">
                    <img src="" alt="">
                    <a href="">Aventura</a>
                </li>
                <li class="tittle-category">
                    <img src="" alt="">
                    <a href="">Plataformas</a>
                </li>
                <li class="tittle-category">
                    <img src="" alt="">
                    <a href="">Multijugador</a>
                </li>
                <li class="tittle-category">
                    <img src="" alt="">
                    <a href="">Deportes</a>
                </li>
                <li class="tittle-category">
                    <img src="" alt="">
                    <a href="">Carreras</a>
                </li>
                <li class="tittle-category">
                    <img src="" alt="">
                    <a href="">Simulacion</a>
                </li>
                <li class="tittle-category">
                    <img src="" alt="">
                    <a href="">Arcade</a>
                </li>
                <li class="tittle-category">
                    <img src="" alt="">
                    <a href="">Casual</a>
                </li>
                <li class="tittle-category">
                    <img src="" alt="">
                    <a href="">Estrategia</a>
                </li>
                <li class="tittle-category">
                    <img src="" alt="">
                    <a href="">Pelea</a>
                </li>
            </ul>
        </div>
    </aside>
</header>

