<header>
    <div class="logo-menu">
        <img src="assets/icons/menuHamburguesa.svg" alt="Menu Hamburguesa">
        <img class="logo" src="assets/Logo2.svg" alt="Logo">
    </div>

    <form>
        <input type="text" id="searchInput" name="search" placeholder="Buscar Juego" autocomplete="off">
            
        <button type="submit" class="search-icon">
            <img src="assets/icons/lupa.svg" alt="buscar">
        </button>
    </form>

    <div>
        <button>
            <img src="assets/icons/Mexico.svg" alt="Seleccionar idioma">
        </button>

        
    </div>
</header>