footer{
    display : flex;
    flex-direction: column;
    border: 0;
}

.content-links{
    background-color: var(--color-secundarioDorado-400);

    display: grid;
    grid-template-columns: 3fr 1fr 0.1fr;

}

.link{
    display: flex;
    justify-content: space-around;
}

.description{
    justify-items: center;
}

.networks{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}

.copyright{
    background-color: var(--color-baseFondo-300);
    border: 0;
    justify-items: center;
}

h4{
    margin: 0;
}