main {
    margin: 0 30px;
}

.widthContainer {
    display: flex;
    justify-content: space-between;
}

button:hover {
    opacity: 0.8;
    transform: scale(1.1);
}

button:active {
    transform: scale(0.95);
}

button:focus-visible {
    outline: 2px solid currentColor;
    outline-offset: 2px;
    border-radius: 4px;
}

ul.breadcrumb {
    list-style: none;
    display: flex;
    background-color: var(--color-baseFondo-200);
    /*font-family: var(--fuente-principal);*/
    font-weight: var(--peso-semi-bold);
    font-size: var(--tamano-texto-md);
    margin: 5px 0;
    padding: 3px 0;
}

ul.breadcrumb li + li::before {
    content: ">>";
    margin: 0 8px;
}

.gameContainer, .gameScreen {
    position: relative;
    display: inline-block;
    line-height: 0;
}

.gameCover {
    height: auto;
}

.playButton {
    display: flex;
    gap: 8px;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    width: 140px;
    height: 38px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 40%;

    font-family: var(--fuente-principal);
    color: #EDF2F7;
    background-color: var(--color-primario-400);
    padding: 5px 5px;
    border: 1px solid var(--color-texto-500);
    border-radius: 10px;
    font-size: 13px;
}

button.playButton:hover {
    transform: scale(1.1) translateX(-50%);
}

button.playButton:active {
    transform: scale(0.95) translateX(-50%);
}

.playIcon {
    height: 100%;
    width: auto;
    background: transparent;
}

.gameButtonbar {
    position: relative;
    display: flex;
    justify-content: space-between;
    background-color: var(--color-texto-300);
    height: 38px;
    padding: 0 10px;
}

.buttonGroup {
    display: flex;
    align-items: center;
    gap: 10px;
    height: 100%;
}

.iconButton {
    background: transparent;
    height: 70%;
    transition: opacity 0.2s ease, transform 0.1s ease;
}

.iconButton img {
    background: transparent;
    width: 100%;
    height: 100%;
    /*pointer-events: none; !* Evita que la imagen interfiera con los clicks *!*/
}
.textContent{
    background-color: var(--color-baseFondo-200);
    border-radius: 30px;
    box-sizing: border-box;
    padding: 15px 75px 15px 75px;
    width: 1000px;
    height: 100%;
}

 .gameQuality{
     display: flex;
     gap: 3px;
     width: 500px;
     height: 20px;
 }
 img.gameQuality{
     height: 100%;
     width: auto;
 }





/* lo de acá abajo hay que quitarlo y cambiarlo por carruseles y cards publi */
.proxCarruselPubli {
    position: relative;
    width: 1000px;
    height: 155px;
    margin: 10px 0;
    border-radius: 10px;
    background-image: url('../assets/img/cocacola.jpg');
    background-size: cover;
}

.proxCardPubli {
    background-color: #2D3748;
    width: 280px;
    height: 616px;
}
