:root{
    /* Color Primario */
    --color-primario-400: #E55A3C;
    --color-primario-200: #FF7F66;
    --color-primario-100: #FFF7F5;

    /*Color Secundario*/
    --color-secundarioDorado-400: #C06020;
    --color-secundarioDorado-300: #ED8936;
    --color-secundarioDorado-200: #F6AD55;

    /*Color de texo*/
    --color-texto-500: #1B202B;
    --color-texto-400: #2D3748;
    --color-texto-300: #868686;
    --color-texto-200: #EDF2F7;
    --color-texto-100: #CACACA;

    /*Color del fondo*/
    --color-baseFondo-300: #E0D3B1;
    --color-baseFondo-200: #F2F2DC;
    --color-baseFondo-100: #F2DCDC;

    /*-----------------------------------------------------*/

    /*Tipografia*/
    --fuente-principal: 'Fredoka', sans-serif;

    /*Peso*/
    --peso-bold: 600;
    --peso-semi-bold: 400;
    --peso-regular: 300;

    /* Tamaños */
    --tamano-titulo-xl: 2.5em;
    --tamano-titulo-lg: 1.5em;
    --tamano-titulo-md: 1.25em;
    --tamano-titulo-sm: 1em;
    --tamano-texto-md: 0.7em;
    --tamano-texto-meta: 0.6em;
}

html, body {
    margin: 0;
    padding: 0;
}

body{
    /*Fondo Pantalla*/
    background-image: url('../assets/img/fondo-pantalla.svg');
    background-color:rgba(224, 211, 177, 1);
    background-repeat: repeat;         /* Repite la imagen en mosaico */
    background-position: top left;     /* Comienza desde la esquina superior izquierda */
    background-size: 50%;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}


main{
    flex: 1; /* Ocupa el espacio restante */
}

* {
    font-family: var(--fuente-principal);
}

h1, h2, h3, h4 {
    font-weight: var(--peso-bold);
}

h1 { font-size: var(--tamano-titulo-xl); }
h2 { font-size: var(--tamano-titulo-lg); }
h3 { font-size: var(--tamano-titulo-md); }
h4 { font-size: var(--tamano-titulo-sm); }
p { font-size: var(--tamano-texto-md);
}
p.metaText { font-size: var(--tamano-texto-meta);
             color: var(--color-texto-300);
             display: flex;
             align-items: center;
}

a {
    text-decoration: none;
    color: var(--color-texto-500);
    cursor: pointer;
}

span{
    font-weight: var(--peso-bold);

}

input {
  border: none;              /* Quita el borde */
  background-color: transparent; /* Fondo transparente */
  outline: none;             /* Quita el borde al hacer foco */
  color: inherit;            /* Hereda el color del texto */
}

form{
    display: flex;
    flex-direction: column;
}

form input{
    padding-left: 12px;
    padding: 2px 10px;
    margin-bottom: 3px;
    border: 1px solid #ccc;
    background-color: white;
    border-radius: 20px;
}

.doubleCenterFlex{
    display: flex;
    align-content: center;
    justify-content: center;
}

.resizes{
    height: 100%;
    width: auto;
    object-fit: cover;
}

.columnFlex{
    display: flex;
    flex-direction: column;
    gap: 5px
}

ul{
    list-style: none;
    margin: 0;
    padding: 0;
}
li{
    align-items: center;
    display: flex
}

/*-----------------------------------------------------*/
