:root{
    /* Color Primario */
    --color-primario-400: #E55A3C;
    --color-primario-200: #FF7F66;
    --color-primario-100: #FFF7F5;
    
    /*Color Secundario*/
    --color-secundarioDorado-400: #C06020;
    --color-secundarioDorado-300: #ED8936;
    --color-secundarioDorado-200: #F6AD55;
    
    /*Color de texo*/
    --color-texto-500: #1B202B;
    --color-texto-400: #2D3748;
    --color-texto-300: #868686;
    --color-texto-200: #A8A8A8;
    --color-texto-100: #CACACA;
    
    /*Color del fondo*/
    --color-baseFondo-300: #E0D3B1;
    --color-baseFondo-200: #F2F2DC;
    --color-baseFondo-100: #F2DCDC;

    /*-----------------------------------------------------*/

    /*Tipografia*/
    --fuente-principal: 'Fredoka', sans-serif;
    --peso-semi-bold: 600;

    /* Tamaños */
    --tamano-titulo-xl: 64px;
    --tamano-titulo-lg: 36px;
    --tamano-titulo-md: 28px;
    --tamano-titulo-sm: 16px;

    --tamano-texto-md: 14px;
    
}

html, body {
    margin: 0;
    padding: 0;
    
}

body{
    background-image: url('../assets/img/fondo-pantalla.svg');
    background-color: var(--color-baseFondo-300);
    background-repeat: repeat;        
    background-position: top left; 
    background-size: 50%;

    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main{
    flex: 1; 
}

*{
    h1, h2, h3, h4, h5, h6, p{
        font-family: var(--fuente-principal);
        font-weight: var(--peso-semi-bold);
    }

    h1{font-size: var(--tamano-titulo-xl);}
    h2{font-size: var(--tamano-titulo-lg);}
    h3{font-size: var(--tamano-titulo-md);}
    h4{font-size: var(--tamano-titulo-sm);}
    p{font-size: var(--tamano-texto-md);}


    a {
        font-size: var(--tamano-titulo-sm);
        font-family: var(--fuente-principal);
        font-weight: var(--peso-semi-bold);
        text-decoration: none; 
        color: black;
    }
    
}


input {
  border: none;              
  background-color: transparent; 
  outline: none;           
  color: inherit;  
}

form{
    display: flex;
    flex-direction: column;
}

form input{
    padding-left: 12px;
    height: 110%;
    padding: 5px 10px;
    margin-bottom: 8px;
    border: 1px solid #ccc;
    background-color: white;
    border-radius: 20px;

}

.main-content {
    max-width: 1200px; 
    margin-left: auto; 
    margin-right: auto; 
    padding: 0 20px; 
}

/*-----------------------------------------------------*/
