/* 1. ESTILOS BASE Y UTILITIES */

body {
    /* Centrado global: centra el contenedor principal en la pantalla */
    display: flex;
    align-items: center; 
    justify-content: center; 
    margin: 0;
    padding: 20px;
    gap: 30px; 
    box-sizing: border-box;
}

h1, h2, h4{
    color: white;
}

img {
    width: 100%;
    height: auto;
    max-width: 200px;
}

/* Contenedor principal: la tarjeta naranja */
.card-naranja {
    background-color: var(--color-secundarioDorado-200);
    padding: 30px 20px 10px;
    border-radius: 40px;
    max-width: 400px;
    width: 100%;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
    box-sizing: border-box;

    display: flex;
    flex-direction: column;
    align-items: center; 
    text-align: center;
}

.card-interna-blanca {
    background-color: white;
    padding: 10px 30px;
    border-radius: 30px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    box-sizing: border-box;
}


.button-red {
    width: 100%;
    padding: 5px;
    margin-top: 5px;
    
    background-color: var(--color-primario-400);
    color: white;
    border: none;
    border-radius: 25px; 
    cursor: pointer;
    font-size: 1.1em;
    font-weight: var(--peso-bold);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s;
}

.button-red p {
    margin: 0;
}


.login h1 {
    margin: 0;
    font-size: 2em;
    margin-bottom: 25px;
}

.login h4 {
    margin-top: 20px;
    margin-bottom: 15px;
}


.accounts {
    display: flex;
    justify-content: space-between;
    width: 100%;
    gap: 10px;
}
.button-red img {
    width: 20%;
    margin-right: 8px;
    vertical-align: middle;
}

.accounts .button-red {
    width: 50%; 
}

.register-button{
    display: flex;
    flex-direction: row;
    align-items: baseline;
    gap: 8px;
}

.register-button .button-red {
    background: none;
    border: none;
    padding: 0;
    color: var(--color-primario-400); 
    font-size: 1.1em;
    font-weight: bold;
    text-decoration: underline;
    box-shadow: none;
    width: auto;
    padding: 5px;
    margin: 0;
}


.register h2 {
    margin-top: 0;
}

.form-register {
    text-align: left;
}

.form-register label {
    display: block;
    margin-top: 5px;
    color: #555;
    font-weight: bold;
    font-size: 0.8em;
}

.terms {
    display: flex;
    margin-top: 5px;
    margin-bottom: 20px;
}

.terms p {
    margin: 0;
    color: var(--color-texto-300);
}

.boton-volver {
    width: 25%;
    background-color: var(--color-secundarioDorado-200);
    border: 1px solid white;
    color: white;
    padding: 5px 10px;
    border-radius: 20px;
    cursor: pointer;
    /* font-size: 1em; */
    font-weight: bold;
    margin-top: 10px;
}


.optional-text {
    font-weight: normal;
    font-size: 0.6em;
    margin-left: 5px;
    margin-bottom: 10px;
}

form .optional-text{
    color: #888;
}

.input-password{
    margin: 0;
}

.logo-welcome{
    width: 150px;
    height: auto;
}

.welcome{
    overflow: hidden;
    position: relative;
}

.image-gradient {
    width: 100%; 
    /*background-image: url('../assets/Logo5.svg'); */
    background-size: cover;
    background-position: center;
    border-radius: 10px;
}
.image-down{
    position: absolute;
}

.image-party{
    right: 0%;
}

.image-down{
    animation-name: caida;
    animation-iteration-count: infinite;
    animation-duration: 4s;
    height: auto;    
    max-width: 100%;
    width: 100%;
    top: -5%;
    z-index: 20;
    pointer-events: none;
}

@keyframes caida{
    0% {
        transform: translateY(-50px);
        opacity: 0;
    }
    100% {
        transform: translateY(10px);
        opacity: 1;
    }
}

.captcha-question {
    background-color: var(--color-secundarioDorado-200);
    color: white;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 15px;
    font-size: 1.2em;
    font-weight: bold;
    text-align: center;
}

.captcha-question p {
    margin: 0;
}

.message-hidden {
    display: none;
    margin-top: 5px;
    font-size: 0.9em;
}

.message-error {
    color: red; 
    font-weight: bold;
    display: block ;
}

.message-success {
    color: green;
    font-weight: bold;
    display: block ;
}

.hiden{
    display: none;
}
