:root {
    --color-primary: #00ffff; 
    --color-secondary: #0000ff; 
    --color-text: #ffffff;
    --background-color: #000000;
}

body{
    display: flex;
    justify-content: center;
}

.game2-container{
    width: 100%;
}

.menu-wrapper{
    text-align: center;
    padding: 40px 60px;
    
    background: rgba(0, 0, 0, 0.4); 
    
    
    border: 3px solid var(--color-primary); 
    box-shadow: 0 0 30px var(--color-primary); 
    
    border-radius: 10px;
    z-index: 10;
    
    
    position: absolute;
    
    background-color: cadetblue;
    width: 600px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.menu-wrapper h2{
    font-size: 5em;
    color: var(--color-text); 
    text-shadow: 
        0 0 15px var(--color-primary), 
        0 0 30px var(--color-secondary), 
        0 0 60px var(--color-secondary);
    margin-bottom: 50px;
    letter-spacing: 15px;
}

.menu-wrapper button{
    background-color: var(--color-primary);
    color: var(--background-color);
    border: none;
    padding: 15px 40px;
    font-size: 1.5em;
    font-weight: bold;
    cursor: pointer;
    border-radius: 5px;
    transition: all 0.3s ease;
    box-shadow: 0 4px 0 var(--color-secondary);
}

#startGameBtn:hover {
    background-color: var(--color-text);
    color: var(--background-color);
    transform: translateY(-2px); 
    box-shadow: 0 6px 0 var(--color-secondary);
}

#startGameBtn:active {
    transform: translateY(2px); 
    box-shadow: 0 0 0 var(--color-secondary);
}

.asteroid{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
}



.bonus{
    position: absolute;
}

.weapon{
    position: absolute;
    width: 50px;
    height: 50px;
    background-color: blue;
}


.bullet{
    position: absolute;
    background-color: white;
}

.spaceship{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;

}


/* ANIMACIONES */

/* --------------Asteroides-----------------*/

.small-asteroid{
    width: 50px;
    height: 50px;
    background: url('../../assets/spaceRun/spritesheet/small-asteroid.png') repeat-x;
    animation: small-rotateAsteroid 2s steps(100) infinite;
}
.medium-asteroid{
    width: 100px;
    height: 100px;
    background: url('../../assets/spaceRun/spritesheet/medium-Asteroid.png') repeat-x;
    animation: medium-rotateAsteroid 2s steps(100) infinite;
}
.large-asteroid{
    width: 150px;
    height: 150px;
    background: url('../../assets/spaceRun/spritesheet/large-Asteroid.png') repeat-x;
    animation: large-rotateAsteroid 2s steps(100) infinite;
}

@keyframes small-rotateAsteroid{
    0% { background-position: 0px; }
    100% { background-position: -5000px; }
}
@keyframes medium-rotateAsteroid{
    0% { background-position: 0px; }
    100% { background-position: -10000px; }
}
@keyframes large-rotateAsteroid{
    0% { background-position: 0px; }
    100% { background-position: -15000px; }
}


/* --------------Spaceship-----------------*/

.spaceship-down{
    width: 58px;
    height: 36px;
    background: url('../assets/spaceRun/objets/ovni-spritesheet.png');
    animation: spaceship-move 0.5s steps(4) infinite;
}

.spaceship-up{
    width: 58px;
    height: 48px;
    background: url('../assets/spaceRun/objets/ovniUp-spritesheet.png');
    animation: spaceship-move 0.5s steps(4) infinite;
}

.spaceship-explode{
    position: absolute;
    width: 128px;
    height: 128px;
    background: url('../assets/spaceRun/objets/ovni-explode1.png');
    animation: spaceship-explode 0.5s steps(5) ;
}
.spaceship-sparks{
    width: 65px;
    height: 60px;
    background: url('../assets/spaceRun/objets/sparks.png');
    animation: spaceship-sparks 0.3s steps(6) ;
}

@keyframes spaceship-move {
    0% { background-position: 0px; }
    100% { background-position: -233px; }
}

@keyframes spaceship-explode {
    0% { background-position: 0px; }
    100% { background-position: -640px; }
}

@keyframes spaceship-sparks {
    0% { background-position: 0px; }
    100% { background-position: -390px; }
}

/* --------------Bullet-----------------*/

.bullet-move{
    width: 50px;
    height: 50px;
    background: url('../assets/spaceRun/objets/bullet.png');
    animation: bullet 1s steps(5) infinite;
}
.bullet-explode{
    width: 50px;
    height: 50px;
    background: url('../assets/spaceRun/objets/bullet-explode.png');
    animation: bullet 0.5s steps(5);
}

@keyframes bullet {
    0% { background-position: 0px; }
    100% { background-position: -250px; }
}


/* --------------Bonus-----------------*/

.bonus-life{
    width: 33px;
    height: 30px;
    background: url('../assets/spaceRun/objets/life.png');
    animation: life-move 1s steps(10) infinite;
}

@keyframes life-move {
    0% { background-position: 0px; }
    100% { background-position: -335px; }
}